ul li {
    display: inline;
    padding: 2px 4px;
}

#ContentPlaceHolder1_imagen {
    width: 100%;
    height: 80vh;
}

.info {
    width: 100%;
    height: 40vh;
}

#ContentPlaceHolder1_categoria {
    font-size: 16px;
    height: 10%;
}

#ContentPlaceHolder1_nombre {
    font-size: 46px;
    font-weight: bolder;
    height: 30%;
}

#ContentPlaceHolder1_descripcion {
    font-size: 16px;
    height: 30%;
}

#ContentPlaceHolder1_precio {
    font-size: 32px;
    font-weight: bolder;
}

#ContentPlaceHolder1_stock {
    font-weight: bolder;
}

.btn-producto {
    width: 100%;
}

.info-func {
    width: 40%;
}

/*
    <div class="d-flex align-items-center justify-content-center gap-2">
        <asp:Image ID="imagen" runat="server" />
        <div class="info">
            <asp:Label ID="categoria" runat="server" Text="Categoria"></asp:Label>
            <asp:Label ID="nombre" runat="server" Text="Nombre"></asp:Label>
            <asp:Label ID="descripcion" runat="server" Text="Descripcion"></asp:Label>
            <asp:Label ID="precio" runat="server" Text="Precio"></asp:Label>
            <asp:Label ID="stock" runat="server" Text="Stock"></asp:Label>
            <asp:Button ID="agregarStock" runat="server" Text="Agregar" />
            <asp:Button ID="restarStock" runat="server" Text="Restar" />
        </div>
    </div>
¨*/